img {
    height: auto; 
    width: auto; 
    max-width: 300px; 
    max-height: 300px;
    border-radius: 50%;
}
.sideBar {
    width: 25%;
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    border-right: 2px solid gray;
}
.description {
    margin-left: 25%;
}
p {
    text-align: justify;
}